.body{
    background-image: url('../images/bg-3.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -100;
    opacity: 2;
}