.body{
    background-image: url('../images/bckground.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -100;
    opacity: 2;
}